@using DrHuellitas.BO;
@model EspeciesBO
@{
    ViewBag.Title = "Especies";
    Layout = "~/Views/Shared/BackEndView.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="tbl-cell">
            <h3>Gestión especies</h3>
            <ol class="breadcrumb breadcrumb-simple">
                <li><a href="~/Admin/Index">Inicio</a></li>
                <li><a href="#">Gestiones</a></li>
                <li class="active">Especies</li>
            </ol>
        </div>

        <a href="#" class="btn btn-info" onclick="AgregarNuevaEspecie(0)">Añadir nueva especie</a> <br /><br />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre Científico</th>
                    <th>Nombre Común</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody id="ListaEspecies">
                <tr id="CargarTabla" style="color:black"></tr>
            </tbody>
        </table>




        <!--Modal paiss-->

        <div class="modal fade" id="MyModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 id="ModalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <fieldset id="SubmitForm">
                                @Html.HiddenFor(m=>m.id, new { @id = "idEspecie" })
                                <div class="form-group">
                                    @Html.TextBoxFor(m=>m.nomCientifico, new { @id = "nomCientifico", @class = "form-control", @placeholder = "Nombre científico", @autofocus = "autofocus" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m=>m.nomComun, new { @id = "nomComun", @class = "form-control", @placeholder = "Nombre común", @autofocus = "autofocus" })
                                </div>
                                <div class="form-group">
                                    <a href="#" class="btn btn-block btn-danger" id="GuardarCambios">Guardar</a>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="VentanaEliminado">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4>Eliminar especie</h4>
                    </div>
                    <div class="modal-body">
                        <h4>¿Esta usted seguro que lo desea eliminar?</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancelar</a>
                        <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>



        <!--Scrips-->
        <script>
            $("#CargarTabla").html("");
            $.get("/Gestiones/ObtenerListaEspecies", null, DataBind);
            function DataBind(PackEspecies) {
                var SetData = $("#ListaEspecies");
                for (var i = 0; i < PackEspecies.length; i++) {
                    var Data = "<tr class='row_" + PackEspecies[i].id + "'>" +
                        "<td>" + PackEspecies[i].id + "</td>" +
                        "<td>" + PackEspecies[i].nomCientifico + "</td>" +
                        "<td>" + PackEspecies[i].nomComun + "</td>" +
                        "<td>" + "<a href='#' class='btn btn-warning' onclick='EditarPais(" + PackEspecies[i].id + ")' ><span class='glyphicon glyphicon-edit'></span></a>" + "</td>" +
                        "<td>" + "<a href='#' class='btn btn-danger' onclick='EliminarPais(" + PackEspecies[i].id + ")'><span class='glyphicon glyphicon-trash'></span></a>" + "</td>" +
                        "</tr>";
                    SetData.append(Data);
                    $("#LoadingStatus").html(" ");

                }
            }

            function AgregarNuevaEspecie(idEspecie) {
                $("#form")[0].reset();
                $("#idEspecie").val(0);
                $("#ModalTitle").html("Añadir nueva especie");
                $("#MyModal").modal();
            }

            function EditarPais(idEspecie) {
                $.get("/Gestiones/ObtenerEspecie?idEspecie=" + idEspecie, null, llamada);
                function llamada(PackEspecies) {

                    for (var i = 0; i < PackEspecies.length; i++) {

                        $("#idEspecie").val(PackEspecies[i].id);
                        $("#nomCientifico").val(PackEspecies[i].nomCientifico);
                        $("#nomComun").val(PackEspecies[i].nomComun);
                    }
                }
                $("#ModalTitle").html("Actualizar datos de la especie");
                $("#MyModal").modal();

            }

            $("#GuardarCambios").click(function () {
                var data = $("#SubmitForm").serialize();
                $.ajax({
                    type: "Post",
                    url: "/Gestiones/GuardarEspecie",
                    data: data,
                    success: function (result) {
                        alert("¡Operación realizada con éxito!");
                        window.location.href = "/Gestiones/Especies";
                        $("#MyModal").modal("hide");

                    }
                })
            })

            var EliminarPais = function (idEspecie) {
                $("#idEspecie").val(idEspecie);
                $("#VentanaEliminado").modal("show");
            }
            var ConfirmDelete = function () {
                var idEspecie = $("#idEspecie").val();
                $.ajax({
                    type: "POST",
                    url: "/Gestiones/EliminarEspecie?idEspecie=" + idEspecie,
                    success: function (result) {
                        $("#VentanaEliminado").modal("hide");
                        $(".row_" + idEspecie).remove();
                    }
                })
            }




        </script>


    </div><!--.container-fluid-->
</div><!--.page-content-->
