@using DrHuellitas.BO;
@model PropagandaBO
@{
    ViewBag.Title = "propagandades";
    Layout = "~/Views/Shared/BackEndView.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="tbl-cell">
            <h3>Gestión de propagandas</h3>
            <ol class="breadcrumb breadcrumb-simple">
                <li><a href="~/Gestiones/Propaganda">Propagandas Por Aprovar</a></li>
            </ol>
        </div>
        <h2>Propagandas Aprovadas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripcion</th>
                    <th>Foto</th>
                    <th>Comercio</th>
                    <th>Desaprovar</th>
                </tr>
            </thead>
            <tbody id="ListaPropaganda">
                <tr id="CargarTabla1" style="color:black"></tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="Ventanaactualizar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Aprovar Propaganda</h4>
            </div>
            <div class="modal-body">
                <h4>¿Esta usted seguro que desea desaprovar la propaganda?</h4>
            </div>
            @using (Html.BeginForm("desprovar", "Gestiones"))
            {
                <div class="modal-footer">
                    @Html.HiddenFor(x => x.id, new { @id = "id" })
                    <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancelar</a>
                    <button class="btn btn-danger" type="submit">Confirmar</button>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $.get("/Gestiones/propagandasaprovadas", null, DataBind);
    function DataBind(packlista) {
        var SetData = $("#ListaPropaganda");
        for (var i = 0; i < packlista.length; i++) {
            var Data = "<tr class='row_" + packlista[i].id + "'>" +
                "<td >" + packlista[i].id + "</td>" +
                "<td>" + packlista[i].descripcion + "</td>" +
                "<td>" + "<img src='" + packlista[i].foto + "' width='34' height='34' class='img-thumbnail img-circle'/> " + "</td>" +
                "<td>" + packlista[i].nombrecomercio + "</td>" +
                "<td>" + "<a  class='btn btn-warning' onclick='propagandaactualizar(" + packlista[i].id + ")' ><span class='glyphicon glyphicon-edit'></span></a>" + "</td>" +
                "</tr>";
            SetData.append(Data);

        }
    }

    function propagandaactualizar(idpropaganda) {
        $.get("/Comercio/mostrar?id=" + idpropaganda, null, llamada);
        function llamada(packlista) {

            for (var i = 0; i < packlista.length; i++) {

                $("#id").val(packlista[i].id);
            }
        }
        $("#Ventanaactualizar").modal();

    }
</script>

