@using DrHuellitas.BO;
@model RazasBO
@{
    ViewBag.Title = "Razas";
    Layout = "~/Views/Shared/BackEndView.cshtml";
}


<div class="page-content">
    <div class="container-fluid">

        <div class="tbl-cell">
            <h3>Gestión Razas</h3>
            <ol class="breadcrumb breadcrumb-simple">
                <li><a href="~/Admin/Index">Inicio</a></li>
                <li><a href="#">Gestiones</a></li>
                <li class="active">Razas</li>
            </ol>
        </div>

        <a href="#" class="btn btn-info" onclick="AgregarNuevaRaza(0)">Añadir nueva raza</a> <br /><br />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Raza</th>
                    <th>Especie</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody id="ListaRazas">
                <tr id="CargarTabla" style="color:black"></tr>
            </tbody>
        </table>




        <!--Modal Estados-->

        <div class="modal fade" id="MyModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 id="ModalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <fieldset id="SubmitForm">
                                @Html.HiddenFor(x=>x.id, new { @id = "idRaza" })
                                <div class="form-group">
                                    @Html.TextBoxFor(x=>x.nombre, new { @id = "nombre", @class = "form-control", @placeholder = "Nombre", @autofocus = "autofocus" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(x => x.idEspecie, ViewBag.ListaDeEspecies as SelectList, "Seleccionar", new { @id = "DropDwn", @class = "form-control" })
                                </div>
                                <div class="form-group">
                                    <a href="#" class="btn btn-block btn-danger" id="GuardarCambios">Guardar</a>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="VentanaEliminado">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4>Eliminar especie</h4>
                    </div>
                    <div class="modal-body">
                        <h4>¿Esta usted seguro que lo desea eliminar?</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancelar</a>
                        <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>



        <!--Scrips-->
        <script>
            //Estados



            $("#CargarTabla").html("");
            $.get("/Gestiones/ObtenerListaRazas", null, DataBind);
            function DataBind(PackRazas) {
                var SetData = $("#ListaRazas");
                for (var i = 0; i < PackRazas.length; i++) {
                    var Data = "<tr class='row_" + PackRazas[i].id + "'>" +
                        "<td>" + PackRazas[i].id + "</td>" +
                        "<td>" + PackRazas[i].nombre + "</td>" +
                        "<td>" + PackRazas[i].nomEspecie + "</td>" +
                        "<td>" + "<a href='#' class='btn btn-warning' onclick='EditarEstado(" + PackRazas[i].id + ")' ><span class='glyphicon glyphicon-edit'></span></a>" + "</td>" +
                        "<td>" + "<a href='#' class='btn btn-danger' onclick='EliminarEstado(" + PackRazas[i].id + ")'><span class='glyphicon glyphicon-trash'></span></a>" + "</td>" +
                        "</tr>";
                    SetData.append(Data);
                    $("#LoadingStatus").html(" ");

                }
            }

            function AgregarNuevaRaza(idRaza) {
                $("#form")[0].reset();
                $("#idRaza").val(0);
                $("#DropDwn option:selected").text("Seleccionar");
                $("#ModalTitle").html("Añadir nueva raza");
                $("#MyModal").modal();
            }

            function EditarEstado(idRaza) {
                $.get("/Gestiones/ObtenerRaza?idRaza=" + idRaza, null, llamada);
                function llamada(PackRazas) {

                    for (var i = 0; i < PackRazas.length; i++) {

                        $("#idRaza").val(PackRazas[i].id);
                        $("#nombre").val(PackRazas[i].nombre);
                        $("#DropDwn option:selected").text(PackRazas[i].nomEspecie);
                        $("#DropDwn option:selected").val(PackRazas[i].idEspecie);
                    }
                }
                $("#ModalTitle").html("Actualizar datos de la raza");
                $("#MyModal").modal();

            }

            $("#GuardarCambios").click(function () {
                var data = $("#SubmitForm").serialize();
                $.ajax({
                    type: "Post",
                    url: "/Gestiones/GuardarRaza",
                    data: data,
                    success: function (result) {
                        alert("¡Operación realizada con éxito!");
                        window.location.href = "/Gestiones/Razas";
                        $("#MyModal").modal("hide");

                    }
                })
            })

            var EliminarEstado = function (idRaza) {
                $("#idRaza").val(idRaza);
                $("#VentanaEliminado").modal("show");
            }
            var ConfirmDelete = function () {
                var idRaza = $("#idRaza").val();
                $.ajax({
                    type: "POST",
                    url: "/Gestiones/EliminarRaza?idRaza=" + idRaza,
                    success: function (result) {
                        $("#VentanaEliminado").modal("hide");
                        $(".row_" + idRaza).remove();
                    }
                })
            }




        </script>


    </div><!--.container-fluid-->
</div><!--.page-content-->



