
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/BackEndView.cshtml";
}



<div class="page-content">
    <div class="container-fluid">

        <div class="tbl-cell">
            <h3>Gestión usuarios</h3>
            <ol class="breadcrumb breadcrumb-simple">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Gestiones</a></li>
                <li class="active">Usuarios</li>
            </ol>
        </div>

        <table id="table-edit" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th width="1">
                        #
                    </th>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="table-icon-cell">
                        <i class="font-icon font-icon-heart"></i>
                    </th>
                    <th class="table-icon-cell">
                        <i class="font-icon font-icon-comment"></i>
                    </th>
                    <th width="120">Date Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Last quarter revene</td>
                    <td class="color-blue-grey-lighter">Revene for last quarter in state America for year 2013, whith...</td>
                    <td class="table-icon-cell">5</td>
                    <td class="table-icon-cell">24</td>
                    <td class="table-date">6 minutes ago</td>
                    <td class="table-photo">
                        <img src="img/photo-64-1.jpg" alt="" data-toggle="tooltip" data-placement="bottom" title="Nicholas<br/>Barrett">
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Last quarter revene</td>
                    <td class="color-blue-grey-lighter">Revene for last quarter in state America for year 2013, whith...</td>
                    <td class="table-icon-cell">5</td>
                    <td class="table-icon-cell">24</td>
                    <td class="table-date">6 minutes ago</td>
                    <td class="table-photo">
                        <img src="img/photo-64-1.jpg" alt="" data-toggle="tooltip" data-placement="bottom" title="Nicholas<br/>Barrett">
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div><!--.container-fluid-->
</div><!--.page-content-->




