@using DrHuellitas.BO;
@model VacunasBO
@{
    ViewBag.Title = "Vacunas";
    Layout = "~/Views/Shared/BackEndView.cshtml";
}

<div class="page-content">
    <div class="container-fluid">

        <div class="tbl-cell">
            <h3>Gestión Vacunas</h3>
            <ol class="breadcrumb breadcrumb-simple">
                <li><a href="~/Admin/Index">Inicio</a></li>
                <li><a href="#">Gestiones</a></li>
                <li class="active">Vacunas</li>
            </ol>
        </div>

        <a href="#" class="btn btn-info" onclick="AgregarNuevaVacuna(0)">Añadir nueva vacuna</a> <br /><br />

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Vacuna</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody id="ListaVacunas">
                <tr id="CargarTabla" style="color:black"></tr>
            </tbody>
        </table>




        <!--Modal Estados-->

        <div class="modal fade" id="MyModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 id="ModalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <form id="form">
                            <fieldset id="SubmitForm">
                                @Html.HiddenFor(x => x.id, new { @id = "idVacuna" })
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.nombre, new { @id = "nombre", @class = "form-control", @placeholder = "Nombre", @autofocus = "autofocus" })
                                </div>
                                <div class="form-group">
                                    <a href="#" class="btn btn-block btn-danger" id="GuardarCambios">Guardar</a>
                                </div>

                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="VentanaEliminado">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4>Eliminar vacuna</h4>
                    </div>
                    <div class="modal-body">
                        <h4>¿Esta usted seguro que lo desea eliminar?</h4>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="btn btn-primary" data-dismiss="modal" id="r">Cancelar</a>
                        <a href="#" class="btn btn-danger" onclick="ConfirmDelete()">Confirmar</a>
                    </div>
                </div>
            </div>
        </div>



        <!--Scrips-->
        <script>
            //Estados



            $("#CargarTabla").html("");
            $.get("/Gestiones/ObtenerListasVacunas", null, DataBind);
            function DataBind(PackVacunas) {
                var SetData = $("#ListaVacunas");
                for (var i = 0; i < PackVacunas.length; i++) {
                    var Data = "<tr class='row_" + PackVacunas[i].id + "'>" +
                        "<td>" + PackVacunas[i].id + "</td>" +
                        "<td>" + PackVacunas[i].nombre + "</td>" +
                        "<td>" + "<a href='#' class='btn btn-warning' onclick='EditarEstado(" + PackVacunas[i].id + ")' ><span class='glyphicon glyphicon-edit'></span></a>" + "</td>" +
                        "<td>" + "<a href='#' class='btn btn-danger' onclick='EliminarEstado(" + PackVacunas[i].id + ")'><span class='glyphicon glyphicon-trash'></span></a>" + "</td>" +
                        "</tr>";
                    SetData.append(Data);
                    $("#LoadingStatus").html(" ");

                }
            }

            function AgregarNuevaVacuna(idVacuna) {
                $("#form")[0].reset();
                $("#idVacuna").val(0);
                $("#ModalTitle").html("Añadir nueva vacuna");
                $("#MyModal").modal();
            }

            function EditarEstado(idVacuna) {
                $.get("/Gestiones/ObtenerVacuna?idVacuna=" + idVacuna, null, llamada);
                function llamada(PackVacunas) {

                    for (var i = 0; i < PackVacunas.length; i++) {

                        $("#idVacuna").val(PackVacunas[i].id);
                        $("#nombre").val(PackVacunas[i].nombre);
                    }
                }
                $("#ModalTitle").html("Actualizar datos de la vacuna");
                $("#MyModal").modal();

            }

            $("#GuardarCambios").click(function () {
                var data = $("#SubmitForm").serialize();
                $.ajax({
                    type: "Post",
                    url: "/Gestiones/GuardarVacuna",
                    data: data,
                    success: function (result) {
                        alert("¡Operación realizada con éxito!");
                        window.location.href = "/Gestiones/Vacunas";
                        $("#MyModal").modal("hide");

                    }
                })
            })

            var EliminarEstado = function (idVacuna) {
                $("#idVacuna").val(idVacuna);
                $("#VentanaEliminado").modal("show");
            }
            var ConfirmDelete = function () {
                var idVacuna = $("#idVacuna").val();
                $.ajax({
                    type: "POST",
                    url: "/Gestiones/EliminarVacuna?idVacuna=" + idVacuna,
                    success: function (result) {
                        $("#VentanaEliminado").modal("hide");
                        $(".row_" + idVacuna).remove();
                    }
                })
            }




        </script>


    </div><!--.container-fluid-->
</div><!--.page-content-->


