@using DrHuellitas.BO;
@model RegistrosBO
@{
    ViewBag.Title = "Comercio";
    Layout = "~/Views/Shared/MasterFrontEnd.cshtml";
}

<script src="http://code.jquery.com/jquery-3.2.1.js"></script>
<link href="~/Content/jquery.gmaps.css" rel="stylesheet" />
<script src="~/Scripts/jquery.gmaps.js"></script>


<style>
    .gmaps {
        height: 500px;
        width: 100%;
    }
</style>
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-12 img-thumbnail" id="repetir">
                    <div data-key="AIzaSyAV5-gt021-D6FvPpRaFo_o-01qgBoSQtU"
                         data-control-zoom="true"
                         data-control-type="true"
                         data-control-scale="true"
                         data-control-streetview="true"
                         data-control-rotate="true"
                         data-event-mousewheel="true"
                         data-zoom="14" role="map" class="gmaps" style="width:100%;">

                        <!-- items de ubicaciones -->

                        <div data-id="1"
                             data-lat="-20.363"
                             data-lng="111.044"
                             class="marker">
                            <div class="map-card">
                                <h1>This is my title 1</h1>
                                <img src="https://gamingcentral.in/wp-content/uploads/2017/07/mia-khalifa-wnba.jpg" style="width:52px; height:52px;" class="img-circle" />
                                <p>Address: Fake street, #445, Stgo.</p>
                                <p>Phone: +56753223344</p>
                                <p>e-Mail: fake1@email.com</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
 </div>

<script>
    //escrip para las imagenes
     document.getElementById("slider").style.height = "200px"
    $("#slider").attr("data-pagination", "");
    $("#slider").attr("data-arrows", "");
    $("#slider").attr("data-style", "");

    $(document).ready(function () {
        $('.gmaps').gmaps();
    });

</script>

