@using DrHuellitas.BO;
@model RegistrosBO
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/MasterFrontEnd.cshtml";
}
<link href="~/Content/propa.css" rel="stylesheet" />
<script src="~/Scripts/perfil.js"></script>
<style>
    .card {
        padding-top: 20px;
        margin: 0px 0 20px 0;
        background-color: rgba(214, 224, 226, 0.2);
        border-top-width: 0;
        border-bottom-width: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .card .card-heading {
            padding: 0 20px;
            margin: 0;
        }

            .card .card-heading.simple {
                font-size: 20px;
                font-weight: 300;
                color: #777;
                border-bottom: 1px solid #e5e5e5;
            }

            .card .card-heading.image img {
                display: inline-block;
                width: 46px;
                height: 46px;
                margin-right: 15px;
                vertical-align: top;
                border: 0;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
            }

            .card .card-heading.image .card-heading-header {
                display: inline-block;
                vertical-align: top;
            }

                .card .card-heading.image .card-heading-header h3 {
                    margin: 0;
                    font-size: 14px;
                    line-height: 16px;
                    color: #262626;
                }

                .card .card-heading.image .card-heading-header span {
                    font-size: 12px;
                    color: #999999;
                }

        .card .card-body {
            padding: 0 20px;
            margin-top: 20px;
        }

        .card .card-media {
            padding: 0 20px;
            margin: 0 -14px;
        }

            .card .card-media img {
                max-width: 100%;
                max-height: 100%;
            }

        .card .card-actions {
            min-height: 30px;
            padding: 0 20px 20px 20px;
            margin: 20px 0 0 0;
        }

        .card .card-comments {
            padding: 20px;
            margin: 0;
            background-color: #f8f8f8;
        }

            .card .card-comments .comments-collapse-toggle {
                padding: 0;
                margin: 0 20px 12px 20px;
            }

                .card .card-comments .comments-collapse-toggle a,
                .card .card-comments .comments-collapse-toggle span {
                    padding-right: 5px;
                    overflow: hidden;
                    font-size: 12px;
                    color: #999;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

    .card-comments .media-heading {
        font-size: 13px;
        font-weight: bold;
    }

    .card.people {
        position: relative;
        display: inline-block;
        width: 170px;
        height: 300px;
        padding-top: 0;
        margin-left: 20px;
        overflow: hidden;
        vertical-align: top;
    }

        .card.people:first-child {
            margin-left: 0;
        }

        .card.people .card-top {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 170px;
            height: 150px;
            background-color: #ffffff;
        }

            .card.people .card-top.green {
                background-color: #53a93f;
            }

            .card.people .card-top.blue {
                background-color: #427fed;
            }

        .card.people .card-info {
            position: absolute;
            top: 150px;
            display: inline-block;
            width: 100%;
            height: 101px;
            overflow: hidden;
            background: #ffffff;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .card.people .card-info .title {
                display: block;
                margin: 8px 14px 0 14px;
                overflow: hidden;
                font-size: 16px;
                font-weight: bold;
                line-height: 18px;
                color: #404040;
            }

            .card.people .card-info .desc {
                display: block;
                margin: 8px 14px 0 14px;
                overflow: hidden;
                font-size: 12px;
                line-height: 16px;
                color: #737373;
                text-overflow: ellipsis;
            }

        .card.people .card-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            padding: 10px 20px;
            line-height: 29px;
            text-align: center;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

    .card.hovercard {
        position: relative;
        padding-top: 0;
        overflow: hidden;
        text-align: center;
        background-color: rgba(214, 224, 226, 0.2);
    }

        .card.hovercard .cardheader {
            background: url(../../img/pic2.PNG);
            background-size: cover;
            height: 135px;
        }

        .card.hovercard .avatar {
            position: relative;
            top: -50px;
            margin-bottom: -50px;
        }

            .card.hovercard .avatar img {
                width: 100px;
                height: 100px;
                max-width: 100px;
                max-height: 100px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 5px solid rgba(255,255,255,0.5);
            }

        .card.hovercard .info {
            padding: 4px 8px 10px;
        }

            .card.hovercard .info .title {
                margin-bottom: 4px;
                font-size: 24px;
                line-height: 1;
                color: #262626;
                vertical-align: middle;
            }

            .card.hovercard .info .desc {
                overflow: hidden;
                font-size: 12px;
                line-height: 20px;
                color: #737373;
                text-overflow: ellipsis;
            }

        .card.hovercard .bottom {
            padding: 0 20px;
            margin-bottom: 17px;
        }
</style>

<style>
        .panel-google-plus {
            position: relative;
            border-radius: 0px;
            border: 1px solid rgb(216, 216, 216);
            font-family: 'Roboto', sans-serif;
        }

            .panel-google-plus > .dropdown {
                position: absolute;
                top: 5px;
                right: 15px;
            }

                .panel-google-plus > .dropdown > span > span {
                    font-size: 10px;
                }

                .panel-google-plus > .dropdown > .dropdown-menu {
                    left: initial;
                    right: 0px;
                    border-radius: 2px;
                }

            .panel-google-plus > .panel-google-plus-tags {
                position: absolute;
                top: 35px;
                right: -3px;
            }

                .panel-google-plus > .panel-google-plus-tags > ul {
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                }

                    .panel-google-plus > .panel-google-plus-tags > ul:hover {
                        box-shadow: 0px 0px 3px rgb(0, 0, 0);
                        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
                    }

                    .panel-google-plus > .panel-google-plus-tags > ul > li {
                        display: block;
                        right: 0px;
                        width: 0px;
                        padding: 5px 0px 5px 0px;
                        background-color: rgb(245, 245, 245);
                        font-size: 12px;
                        overflow: hidden;
                    }

                        .panel-google-plus > .panel-google-plus-tags > ul > li::after {
                            content: "";
                            position: absolute;
                            top: 0px;
                            right: 0px;
                            height: 100%;
                            border-right: 3px solid rgb(66, 127, 237);
                        }

                        .panel-google-plus > .panel-google-plus-tags > ul:hover > li,
                        .panel-google-plus > .panel-google-plus-tags > ul > li:first-child {
                            padding: 5px 15px 5px 10px;
                            width: auto;
                            cursor: pointer;
                            margin-left: auto;
                        }

                    .panel-google-plus > .panel-google-plus-tags > ul:hover > li {
                        background-color: rgb(255, 255, 255);
                    }

                    .panel-google-plus > .panel-google-plus-tags > ul > li:hover {
                        background-color: rgb(66, 127, 237);
                        color: rgb(255, 255, 255);
                    }

            .panel-google-plus > .panel-heading,
            .panel-google-plus > .panel-footer {
                background-color: rgb(255, 255, 255);
                border-width: 0px;
            }

            .panel-google-plus > .panel-heading {
                margin-top: 20px;
                padding-bottom: 5px;
            }

                .panel-google-plus > .panel-heading > img {
                    margin-right: 15px;
                }

                .panel-google-plus > .panel-heading > h3 {
                    margin: 0px;
                    font-size: 14px;
                    font-weight: 700;
                }

                .panel-google-plus > .panel-heading > h5 {
                    color: rgb(153, 153, 153);
                    font-size: 12px;
                    font-weight: 400;
                }

            .panel-google-plus > .panel-body {
                padding-top: 5px;
                font-size: 13px;
            }

                .panel-google-plus > .panel-body > .panel-google-plus-image {
                    display: block;
                    text-align: center;
                    background-color: rgb(245, 245, 245);
                    border: 1px solid rgb(217, 217, 217);
                }

                    .panel-google-plus > .panel-body > .panel-google-plus-image > img {
                        max-width: 100%;
                    }

            .panel-google-plus > .panel-footer {
                font-size: 14px;
                font-weight: 700;
                min-height: 54px;
            }

                .panel-google-plus > .panel-footer > .btn {
                    float: left;
                    margin-right: 8px;
                }

                .panel-google-plus > .panel-footer > .input-placeholder {
                    display: block;
                    margin-left: 98px;
                    color: rgb(153, 153, 153);
                    font-size: 12px;
                    font-weight: 400;
                    padding: 8px 6px 7px;
                    border: 1px solid rgb(217, 217, 217);
                    border-radius: 2px;
                    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
                }

            .panel-google-plus.panel-google-plus-show-comment > .panel-footer > .input-placeholder {
                display: none;
            }

            .panel-google-plus > .panel-google-plus-comment {
                display: none;
                padding: 10px 20px 15px;
                border-top: 1px solid rgb(229, 229, 229);
                background-color: rgb(245, 245, 245);
            }

            .panel-google-plus.panel-google-plus-show-comment > .panel-google-plus-comment {
                display: block;
            }
            /*.panel-google-plus > .panel-google-plus-comment > img {
        float: left;
    }*/
            .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea {
                float: right;
                width: calc(100% - 56px);
            }

                .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > textarea {
                    display: block;
                    /*margin-left: 60px;
        width: calc(100% - 56px);*/
                    width: 100%;
                    background-color: rgb(255, 255, 255);
                    border: 1px solid rgb(217, 217, 217);
                    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
                    resize: vertical;
                }

                .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > .btn {
                    margin-top: 10px;
                    margin-right: 8px;
                    width: 100%;
                }



            .panel-google-plus .btn {
                border-radius: 3px;
            }

            .panel-google-plus .btn-default {
                border: 1px solid rgb(217, 217, 217);
                box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
            }

                .panel-google-plus .btn-default:hover,
                .panel-google-plus .btn-default:focus,
                .panel-google-plus .btn-default:active {
                    background-color: rgb(255, 255, 255);
                    border-color: rgb(0, 0, 0);
                }
</style>

<style>
    .cortar {
        width: 350px;
        height: 20px;
        padding: 30px;
        border: 1px solid double;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        transition: all 1s;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
</style>
<style>
    .cambio:hover {
        width: 100%;
        white-space: initial;
        overflow: visible;
        cursor: pointer;
    }
</style>
<style>
    .hovercard {
        background-color: #90c4f1;
    }
</style>
<style>
    .hola {
        border-radius: 100px;
        background-position-x: left;
    }
</style>

<link href="~/Content/perfil.css" rel="stylesheet" />
<div class="page-header row">

    <div class="col-md-12" id="perfil" style="position:relative; top:-38px;">
        <link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">
        <div class="row user-menu-container square">
            <div class="col-md-7 user-details">
                <div class="row coralbg white">
                    <div class="col-md-8 col-xs-12 no-pad">
                        <div class="user-pad">
                            <h3 class="white">Bienvenido a Dr.Huellitas, @Session["nombre"]</h3>
                            <h4 class="white"><i class="fa fa-check-circle-o"></i></h4>
                            <h4 class="white"><i class="fa fa-user-o"></i> CoolesOCool</h4>
                            <button type="button" class="btn btn-labeled btn-info" href="#">
                                <span class="btn-label"><i class="fa fa-pencil"></i></span>Editar
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12 no-pad">
                        <div class="user-image">
                            <img src="@Session["foto"]" class="img-responsive thumbnail">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1 user-menu-btns">
                <div class="btn-group-vertical square" id="responsive">
                    <a href="#" class="btn btn-block btn-default active">
                        <i class="fa fa-bell-o fa-3x"></i>
                    </a>
                    <a href="#" class="btn btn-default">
                        <i class="fa fa-laptop fa-3x"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-4 user-menu user-pad">
                <div class="user-menu-content active">
                    <h3>
                        Mis citas de hoy
                    </h3>
                    <ul class="user-menu-list">
                        <li>
                            <h4><i class="fa fa-user coral"></i> Roselynn Smith followed you.</h4>
                        </li>
                    </ul>
                </div>
                <div class="user-menu-content">
                    <h3>
                        Your Inbox
                    </h3>
                    <ul class="user-menu-list">
                        <li>
                            <h4>From Roselyn Smith <small class="coral"><strong>NEW</strong> <i class="fa fa-clock-o"></i> 7:42 A.M.</small></h4>
                        </li>
                        <li>
                            <h4>From Jonathan Hawkins <small class="coral"><i class="fa fa-clock-o"></i> 10:42 A.M.</small></h4>
                        </li>
                        <li>
                            <h4>From Georgia Jennings <small class="coral"><i class="fa fa-clock-o"></i> 10:42 A.M.</small></h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row col-lg-12"  id="listapropagandas">
            </div>
        </div>
    </div>
</div>
<div class="modal fade product_view" id="product_view">
@using (Html.BeginForm("PerfilComercio", "Usuario"))
{
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a data-dismiss="modal" class="class pull-right"><i class="fa fa-close"></i></a>
                <h3 class="modal-title">Vista previa de la propaganda</h3>
                @Html.HiddenFor(x => x.comercio.id, new { @id = "idcomercio" })
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 product_img">
                        <h4>Foto propaganda</h4>
                        <img id="imgpropaganda" src="" class="img-responsive" !important style="width:100%; height:1000%;">
                        <h5>Descripción de la propaganda:</h5>
                        <label id="pdescripcion"></label>
                    </div>
                    <div class="col-md-6 product_img">
                        <h4>Foto del comercio que publico</h4>
                        <img id="fotousuario" src="" class="img-thumbnail" style="width:100%; height:1000%;" />
                        <h5>Datos del comercio:</h5>
                        <p>Nombre gerente: <label id="nombreusuario"></label></p>
                        <p>Nombre comercio: <label id="nombrecomercio"></label></p>
                        <p>Telefono comercio: <label id="telefono"></label></p>
                        <p>E-mail comercio: <label id="email"></label></p>
                        <div class="btn-ground">
                            <button type="submit"  class="btn btn-primary center-block hovercard hola"><span class="glyphicon glyphicon-shopping-cart"></span>Ir a veterinaria</button>
                        </div>
                    </div>
                </div>
          

            </div>
        </div>
    </div>
}
</div>

    <script>
        document.getElementById("slider").style.height = "300px"

        $.get("/Usuario/Jsonpropaganda", null, DataBind);
        function DataBind(lista) {
            var SetData = $("#listapropagandas");
            for (var i = 0; i < lista.length; i++) {
                var Data = "<div class='col-md-6'>" +
                    "<div class='thumbnail form-group panel-google-plus'>" +

                    "<div class='panel-heading'>" +
                    "<img src=" + lista[i].fotousuario + " style='width:52px; height:52px;' class='img img-circle pull-left' alt='Mouse0270' />" +
                    "<h3 class='center-block'>" + lista[i].nombrecomercio + "</h3>" +
                    "<h5><span>Propaganda</span> - <span>" + lista[i].fecha + "</span> </h5>" +

                    "</div>" +
                    "<div class='cortar'>" +
                    "<table class='table-responsive border-white'>"+
                        "<tr>"+
                    "<td>" + lista[i].descripcion + "</td>"+
                        "</tr>"+
                    "</table>"+
                    "<p class='glyphicon-text-color cortar'></p>" +
                    "</div>" +
                    "<img src=" + lista[i].foto + "   style='width:1000px; height:300px;' class='img-responsive'>" +
                    "<div class='space-ten'>" +
                    "<button type='button' class='btn btn-primary pull-left hovercard hola' style=': 32px; height: 32px;' onclick='mostrardescripcion(" + lista[i].id + ")' data-toggle='modal'><i class='fa fa-search'></i> Ver Descripción</button>" + "</br>" +
                    "</div > " +
                    "</div>" +

                    "</div>";
                SetData.append(Data);
            }

        }

        function mostrardescripcion(id) {
            $.get("/Usuario/mostrardescripcion?id=" + id, null, llamada);
            function llamada(lista) {
                for (var i = 0; i < lista.length; i++)
                {
                    $("#fotousuario").attr("src", lista[i].fotousuario);
                    $("#imgpropaganda").attr("src", lista[i].foto);
                    $("#pdescripcion").text(lista[i].descripcion);
                    $("#nombrecomercio").text(lista[i].nombrecomercio);
                    $("#nombreusuario").text(lista[i].gerente);
                    $("#telefono").text(lista[i].telefono);
                    $("#email").text(lista[i].email);
                    $("#idcomercio").val(lista[i].idcomercio);
               
                }
            }
            $("#product_view").modal();
        }
        function enviarotrapagina(id) {
            $.get("/Usuario/mostrardescripcion?id", null);
        }
    </script>
