@model List<DrHuellitas.BO.RegistrosBO>
@{
    ViewBag.Title = "mostarveterinaria";
    Layout = "~/Views/Shared/MasterFrontEnd.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Veterinaria</h1>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    @foreach (var item in Model)
    {


    <label class="text-align-center">hola:@item.comercio.id</label>
    <img src="@item.usuario.foto" />
    }
</div>

