
@{
    ViewBag.Title = "Dr. Huellitas";
    Layout = "~/Views/Shared/MasterFrontEnd.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Inicio</h1>
            </div>
        </div>
    </div>
</div>


<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                    <hr>
                    <h3>Our Staff</h3>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="grid-item staff-item">
                        <div class="grid-item-inner">
                            <div class="media-box"> <img src="images/staff1.jpg" alt=""> </div>
                            <div class="grid-content">
                                <h3>Melina Mironescu</h3>
                                <nav class="social-icons"> <a href="../../www.facebook.com/index.html" target="_blank"><i class="fa fa-facebook"></i></a> <a href="../../twitter.com/index.html" target="_blank"><i class="fa fa-twitter"></i></a> <a href="../../plus.google.com/index.html" target="_blank"><i class="fa fa-google-plus"></i></a> <a href="../../www.pinterest.com/index.html" target="_blank"><i class="fa fa-pinterest"></i></a> </nav>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="grid-item staff-item">
                        <div class="grid-item-inner">
                            <div class="media-box"> <img src="images/staff2.jpg" alt=""> </div>
                            <div class="grid-content">
                                <h3>Francisc Cazan</h3>
                                <nav class="social-icons"> <a href="../../www.facebook.com/index.html" target="_blank"><i class="fa fa-facebook"></i></a> <a href="../../twitter.com/index.html" target="_blank"><i class="fa fa-twitter"></i></a> <a href="../../plus.google.com/index.html" target="_blank"><i class="fa fa-google-plus"></i></a> <a href="../../www.pinterest.com/index.html" target="_blank"><i class="fa fa-pinterest"></i></a> </nav>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="grid-item staff-item">
                        <div class="grid-item-inner">
                            <div class="media-box"> <img src="images/staff3.jpg" alt=""> </div>
                            <div class="grid-content">
                                <h3>Ethan Kay</h3>
                                <nav class="social-icons"> <a href="../../www.facebook.com/index.html" target="_blank"><i class="fa fa-facebook"></i></a> <a href="../../twitter.com/index.html" target="_blank"><i class="fa fa-twitter"></i></a> <a href="../../plus.google.com/index.html" target="_blank"><i class="fa fa-google-plus"></i></a> <a href="../../www.pinterest.com/index.html" target="_blank"><i class="fa fa-pinterest"></i></a> </nav>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("slider").remove();
</script>
