
@{
    ViewBag.Title = "Bienvenidos a Dr. Huellitas - Más que un amigo";
    Layout = "~/Views/Shared/MasterLoginView.cshtml";
}


<div class="nav-backed-header parallax" style="background-image:url(../../img/slide1.jpg); height:700px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li class="active">Staff</li>
                </ol>
            </div>
        </div>
    </div>
</div>