@using DrHuellitas.BO;
@model PropagandaBO
@{
    ViewBag.Title = "Propaganda";
    Layout = "~/Views/Shared/MasterFrontEndVet.cshtml";
}


<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Propaganda</h1>
            </div>
        </div>
    </div>
</div>
 <div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="btn btn-warning" onclick="AgregarPropaganda(0)">Añadir nueva propaganda</a> <br /><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 panel panel-group" id="ListaPropaganda">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="modal fade" id="propaganda">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle1"></h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("SubirImagen", "Gestiones", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(m => m.id, new { @id = "idpropaganda" })
                    <div class="form-group">
                        <img id="imgSalida" src="~/img/admin/avatar-1-128.png" width="128" height="128" class="img-circle" />
                        <br />

                        <label class="control-label" for="file">Seleccionar una foto de perfil:</label>
                        @Html.TextBoxFor(m => m.imagen, new { @type = "file", @name = "file", @id = "file", @class = "btn btn-file" })
                    </div>

                            <button class=" btn btn-block btn-success" type="submit" id="btnListo">Subir Imagen</button>

                }
            </div>
        </div>
    </div>
</div>
<br /> <br />
<script>
    document.getElementById("slider").style.height = "200px"

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function AgregarPropaganda(idpropaganda) {
        $("#idUsuario").val(0);
        $("#imgSalida").attr("src", "../../img/admin/avatar-1-128.png");
        $("#ModalTitle").html("Añadir nueva propaganda");
        $("#propaganda").modal();
    }

        $.get("/Comercio/Obtenerpropaganda", null, DataBind);
        function DataBind(Packpropaganda) {
            var SetData = $("#ListaPropaganda");
            for (var i = 0; i < Packpropaganda.length; i++) {
                var data = "<aside class='row_" + Packpropaganda[i].id + ">" + "<br />" +
                    +"<img src='" + Packpropaganda[i].foto + "'class='img-responsive' style='width:100%;' 'height:100%;'>" +
                    + "<div class='content-title'>" +
                    +"<div class='text-center'>" +
                    +"<h3>'" + Packpropaganda[i].descripcion + "'</h3>" +
                    +"</div>" +
                    +"</div>" +
                    +"<div class='content-footer'>" +
                    +"<span class='pull-right'>" +
                    "<a href='#' data-placement='left' data-toggle='tooltip'  title='Editar' class='font-icon-circle-lined-success btn btn-success' onclick='Editarusuario(" + PackUsuarios[i].usuario.id + ")' ><i class='fa fa- pencil'></i></a>" +
                    +"<a href='#' data-placement='right' data-toggle='tooltip'  title='Eliminar' class='font-icon-circle-lined-success btn btn-danger' onclick='EliminarPropaganda(" + PackUsuarios[i].usuario.id + ")' ><i class='fa fa-close'></i></a>" +
                    +"</span>" +
                    "</div>" +
                    +"</aside><br /><br />";
            }
        }
</script>







